* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: sans-serif;
    text-decoration: none;
    user-select: none;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #4f308f;
}